.Youtube {
	figure {
		background-color: #82d580;
	}

	.content {
		h1 {
			color: #000;
		}
		.wrab {
			width: 100%;
			justify-content: space-between;
			display: flex;
			flex-wrap: wrap;
			article {
				width: 32%;
				height: 500px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-bottom: 50px;

				.picBox {
					width: 100%;
					height: 200px;
					img {
						width: 100%;
						height: 66%;
						object-fit: cover;
						height: auto;
						border-radius: 0%;
					}
				}
				.titBox {
					display: inline-block;
					width: 2000px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-top: 150px;
				}

				.conBox {
					display: inline-block;
					width: 2000px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 1000px;
				}
			}
		}
	}
}

.tablet,
.mobile {
	.Youtube {
		.content {
			.wrab {
				flex-wrap: wrap;
				article {
					width: 48%;
					.picBox {
						margin-top: 30px;
					}
					.titBox {
						margin-top: 150px;
					}

					.conBox {
						width: 100%;
					}
				}
			}
		}
	}
	.mobile {
		.Youtube {
			.content {
				article {
					width: 100%;
				}
			}
		}
	}
}
